[CONTAINERS]
BOOK_FILTER_BY_CATEGORY_COMPUTERS = 1
BOOK_FILTER_BY_CATEGORY_FICTION = 1
BOOK_FILTER_BY_YEAR_2000_2023 = 1
BOOK_FILTER_BY_YEAR_1990_1999 = 1
BOOK_FILTER_BY_TITLE_DISTRIBUTED = 1
AUTHOR_DECADES_COUNTER = 1
REVIEW_FILTER_BY_BOOK_YEAR_1990_1999 = 1
REVIEW_FILTER_BY_BOOK_CATEGORY_FICTION = 1
BOOK_ROUTER_BY_AUTHOR = 1
FICTION_BOOK_ROUTER_BY_TITLE = 1
1990_1999_BOOK_ROUTER_BY_TITLE = 1
FICTION_REVIEW_ROUTER_BY_TITLE = 1
1990_1999_REVIEW_ROUTER_BY_TITLE = 1
REVIEW_STATS_SERVICE = 1
1990_1999_REVIEWS_STATS_ROUTER_BY_TITLE = 1
FICTION_REVIEW_SENTIMENT_ANALYZER = 1